<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package id="Mapster" version="1.14.0.0" targetFramework="net451" />
  <package id="OoMapper" version="0.2.0.33" targetFramework="net451" />
  <package id="TinyMapper" version="1.0.18" targetFramework="net451" />
  <package id="ValueInjecter" version="3.0.1.1" targetFramework="net451" />
</packages>